<!DOCTYPE html>
<html>
<head>
    <title>Edit Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">
    <h2>Edit Application</h2>

    <form method="POST">
        <input class="form-control my-2" name="university" value="{{ app.university }}" required>
        <input class="form-control my-2" name="course" value="{{ app.course }}" required>
        <select class="form-select my-2" name="status">
            <option value="Submitted" {% if app.status == "Submitted" %}selected{% endif %}>Submitted</option>
            <option value="Interview" {% if app.status == "Interview" %}selected{% endif %}>Interview</option>
            <option value="Accepted" {% if app.status == "Accepted" %}selected{% endif %}>Accepted</option>
            <option value="Rejected" {% if app.status == "Rejected" %}selected{% endif %}>Rejected</option>
        </select>        
        <input type="date" class="form-control my-2" name="deadline"
       value="{{ app.deadline.split('-')[2] }}-{{ app.deadline.split('-')[1] }}-{{ app.deadline.split('-')[0] }}">
        <textarea class="form-control my-2" name="notes">{{ app.notes }}</textarea>

        <button class="btn btn-primary">Save Changes</button>
        <a href="/" class="btn btn-secondary">Cancel</a>
    </form>
</body>
</html>
